body {
	background: url("../images/back_.jpg") no-repeat center;
	background-size: 110%;
}

#container {
	/*background: url("../images/App_Store_Badge.png") no-repeat center top;*/
	background-color: black;
	border-radius: 20px;
	margin: auto;
	margin-top: 100px;
	width: 600px;
	height: 510px;
	color: lightgrey;
	opacity: 0.7;
}

#alone_image {
	margin: 10px;
}

h3 {
	text-align: center;
	margin-top: 30px;
}

#countdown_dashboard {
	margin: auto;
	width: 500px;
}

.dash {
	float: left;
	width: 90px;
	margin-left: 5px;
	text-align: center;
	background: url("../images/dash2.png") no-repeat center top;
	border: solid black 2px;
}

.digit {
	width: 45px;
	height: 70px;
	float: left;
	font-size: 55px;
	color: black;
}

.dash_title {
	
}

.table {
	clear: both;
	margin: auto;
	margin-top: 160px;
	display: table;
}

.row {
	display: table-row;
}

.cell {
	color: red;
	display: table-cell;
	padding-top: 5px;
	padding-left: 20px;
}